<!DOCTYPE html>
<html>
<head>
<title>
  Earning Gold in World of Warcraft While Leveling
</title>
</head>
<xmp style="display: none;">

<%= @body %>

</xmp>
<script src="http://strapdownjs.com/v/0.2/strapdown.js"></script>
</html>
