<!DOCTYPE html>
<html>
<title>
  Making Gold in World of Warcraft While Leveling
</title>
<xmp theme="Spacelab" style="display: none;">

<%= @body %>

</xmp>
<script src="http://strapdownjs.com/v/0.2/strapdown.js"></script>
</html>
